$colors: (
  primary: (
    "blue": hsl(215, 51%, 70%),
    "cyan": hsl(178, 100%, 50%),
    "cyan-transparent": hsla(178, 100%, 50%, 0.5),
  ),
  neutral: (
    100: hsl(0, 0%, 100%),
    //line
    300: hsl(215, 32%, 27%),
    //card bg
    500: hsl(216, 50%, 16%),
    //main bg
    700: hsl(217, 54%, 11%),
  ),
);
